.about {
    position: relative;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    width: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .about h1 {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .about p {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }
  .about img {
    width: 200px;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
